@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* || RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

:focus-visible {
    outline-offset: 4px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, textarea, button {
    font: inherit;
    display: block;
    background: none;
    border: none;
}

input, textarea {
    width: 100%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

span, time, label, i {
    display: block;
}

i {
    pointer-events: none;
}

/* || VARIABLES */
:root {
    /* TYPOGRAPHY */
    --FF-HEADING: "Roboto", sans-serif;
    --FF: "Open Sans", sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --SAFETY-ORANGE: #ff6a00;
    --LAVENDER-GRAY: #c5c8d8;
    --PERSIAN-ROSE: #ff2e9d;
    --RED-CRAYOLA: #fa004f;
    --EERIE-BLACK: #18181b;
    --LIGHT-GRAY: #cccccc;
    --CULTURED-2: #f7fafd;
    --PLATINUM: #e6e6e6;
    --FONT-COLOR: #333;
    --CULTURED: #ededed;
    --BLACK_10: #0000001a;
    --BLACK_5: #0000000d;
    --BODY-BGCOLOR: #f5f5f5;
    --WHITE-2: #fbf9f9;
    --BLACK: #333;

    /* GRADIENT */
    --GRADIENT: linear-gradient(to left top, var(--PERSIAN-ROSE), var(--SAFETY-ORANGE));

    /* STANDARD PADDING */
    --SECTION-PADDING: 60px;

    /* SHADOW */
    --SHADOW-1: 0 6px 24px var(--BLACK_5);
    --SHADOW-2: 0 2px 28px var(--BLACK_10);

    /* BORDER-RADIUS */
    --RADIUS-2: 2px;
    --RADIUS-5: 5px;
    --RADIUS-8: 8px;

    /* TRANSITION */
    --TRANSITION-1: 0.25s ease;
    --TRANSITION-2: 0.5s ease;
    --CUBIC-OUT: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

@media (prefers-color-scheme: dark) {
    }
    /* :root {
        --LAVENDER-GRAY: #c5c8d8;
        --EERIE-BLACK: #18181b;
        --LIGHT-GRAY: #cccccc;
        --CULTURED-2: #f7fafd;
        --PLATINUM: #e6e6e6;
        --GRAY-WEB: #777b83;
        --CULTURED: #ededed;
        --BLACK_10: #0000001a;
        --BLACK_5: #0000000d;
        --WHITE-1: #f5f5f5;
        --WHITE-2: #fbf9f9;
        --BLACK: #333;
    } */

/* || UTILITY STYLE */
.container {
    padding-inline: 15px;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var (--FF);
}

body {
    background: var(--BODY-BGCOLOR);
    min-height: 100hv;
    color: var(--FONT-COLOR);
    font-size: var(--FS);
    height: 300vh;
}

h1, h2, h3 {
    font-family: var();
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    /* DONT ADD UNIT TO THE LINE-HEIGHT */
    line-height: 1.5; 
}

a:any-link {
    color: inherit;
    text-decoration: none;
    display: block;
}

a:hover, a:focus-visible {
    color: var();
}

a:active {
    color: var();
}

li {
    list-style: none;
}

/* || HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--BODY-BGCOLOR);
    padding-block: 15px;
    border-block-end: 1px solid var(--CULTURED);
    z-index: 4;
    transition: var(--TRANSITION-1);
}

.header.active {
    filter: drop-shadow(var(--SHADOW-2));
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--FF-HEADING);
    color: var(--BLACK);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.nav-toggle-btn {
    font-size: 40px;
}

.nav-toggle-btn.active .open, .nav-toggle-btn .close {
    display: none;
}

.nav-toggle-btn .open, .nav-toggle-btn.active .close {
    display: block;
}

.navbar {
    background-color: var(--BODY-BGCOLOR);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100% - 30px);
    width: 100%;
    padding-inline: 0;
    border: 1px solid var(--CULTURED);
    transition: 0.3s var(--CUBIC-OUT);
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
}
